@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* For Firefox */
.scroll-container {
    scrollbar-width: thin;
}

/* For WebKit */
.scroll-container::-webkit-scrollbar {
    width: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #3B3561 !important;
}


@media screen and (min-width: 1100px) {

    .main {
        background-image: url('../public/assets/background/gear.png'),
            url('../public/assets/background/gallery.png'), url('../public/assets/background/plus.png'),
            url('../public/assets/background/pie.png'), url('../public/assets/background/plus.png'),
            url('../public/assets/background/cube.png'), url('../public/assets/background/offwhite-cube.png'),
            url('../public/assets/background/offwhite-cube.png'), url('../public/assets/background/arrow-dart.png');
        background-position: 20px 600px, 1200px 200px, 120px 200px, 1200px 980px, 1150px 1080px, 100px 1350px, 1250px 2100px, 60px 3080px, 1150px 3100px;
        background-repeat: no-repeat;
        background-size: 105px 105px, 120px 110px, 34px 34px, 160px 150px, 34px 34px, 50px 50px, 50px 50px, 50px 50px, 230px 175px;
    }

    .contact {
        background-image: url('../public/assets/background/cube.png'), url('../public/assets/background/offwhite-cube.png');
        background-repeat: no-repeat;
        background-size: 25px 35px, 70px 65px;
        background-position: 100px 700px, 1250px 280px;
    }

    .privacy-policy {
        background-image: url('../public/assets/background/cube.png'), url('../public/assets/background/offwhite-cube.png');
        background-repeat: no-repeat;
        background-size: 25px 35px, 70px 65px;
        background-position: 120px 1050px, 1250px 560px;
    }

    .error-bg {
        background-image: url('../public/assets/background/cube.png'), url('../public/assets/background/offwhite-cube.png');
        background-repeat: no-repeat;
        background-size: 25px 35px, 70px 65px;
        background-position: 30px 600px, 1250px 180px;
    }

    .blog {
        background-image: url('../public/assets/background/cube.png'), url('../public/assets/background/offwhite-cube.png');
        background-repeat: no-repeat;
        background-size: 25px 35px, 70px 65px;
        background-position: 30px 1850px, 1280px 1350px;
    }

    .faq {
        background-image: url('../public/assets/background/cube.png'), url('../public/assets/background/offwhite-cube.png');
        background-repeat: no-repeat;
        background-size: 25px 35px, 70px 65px;
        background-position: 30px 1100px, 1280px 630px;
    }

    .cookies {
        background-image: url('../public/assets/background/cube.png'), url('../public/assets/background/offwhite-cube.png');
        background-repeat: no-repeat;
        background-size: 25px 35px, 70px 65px;
        background-position: 30px 1100px, 1280px 630px;
    }
}

@media screen and (min-width: 1400px) {

    .main {
        background-position: 20px 600px, 1600px 200px, 280px 200px, 1780px 924px, 1740px 1080px, 225px 1480px, 1750px 1860px, 110px 3150px, 1650px 3400px;
    }

    .contact {
        background-position: 160px 700px, 1750px 280px;
    }

    .privacy-policy {
        background-position: 160px 1000px, 1750px 540px;
    }

    .error-bg {
        background-position: 80px 750px, 1650px 180px;
    }

    .blog {
        background-position: 80px 1800px, 1750px 1400px;
    }

    .faq {
        background-position: 80px 1100px, 1750px 600px;
    }

    .cookies {
        background-position: 80px 1100px, 1750px 600px;
    }

}

.plane-img {
    position: absolute;
    top: -120px;
    right: 0;
}

#input-file-upload {
    display: none;
}

#label-file-upload {
    height: 100%;
}

#label-file-upload.drag-active {
    background-color: #ffffff;
}

.upload-button {
    cursor: pointer;
    padding: 0.25rem;
    font-size: 1rem;
    border: none;
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
}

.upload-button:hover {
    text-decoration-line: underline;
}

#drag-file-element {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}


.accordion {
    margin-bottom: 20px;
    margin-right: 20px;
}

.accordion-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 0;
    background: #FFFFFF;
    padding: 25px;
    border-radius: 5px;
    text-align: start;
}

.accordion-btn-active {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #3B3561;
    box-shadow: 0px 5px 10px rgba(135, 124, 202, 0.2);
    border-radius: 5px;
    padding: 25px;
}

.accordion-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
    color: #5C5486;
}

.accordion-title-active {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
    color: #FFFFFF;
}

.accordion-text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    color: #5C5486;
    margin-left: 20px;
}

@media screen and (max-width: 1000px) {

    .accordion-text,
    .accordion-title-active,
    .accordion-title.accordion-btn-active,
    .accordion-btn {
        font-size: 18px;
    }

    .plane-img {
        top: 150px;
        right: -40px;
        width: 50%;
    }
}

@media screen and (max-width: 600px) {

    .accordion-text,
    .accordion-title-active,
    .accordion-title.accordion-btn-active,
    .accordion-btn {
        font-size: 16px;
    }

    .plane-img {
        top: 350px;
        right: 0;
        width: 50%;
    }
}

.tab-button {
    border-radius: 0;
    color: #3D318A;
    border: 1px solid #3B3561;
    margin: 10px 0;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
}

.tab-button-active {
    border-radius: 0;
    color: #FFFFFF;
    background: #DCB4F5;
    border: 1px solid #3B3561;
    margin: 10px 0;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}