.lock_icon {
    margin-right: 10px;
    margin-top: 19px;
}

#input-file-upload {
    display: none;
}

#label-file-upload {
    height: 100%;
}

#label-file-upload.drag-active {
    background-color: #ffffff;
}

.upload-button {
    cursor: pointer;
    padding: 0.25rem;
    font-size: 1rem;
    border: none;
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
}

.upload-button:hover {
    text-decoration-line: underline;
}

#drag-file-element {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.dropbox {
    text-align: center;
    background: rgba(220, 180, 245, 0.15);
    border: 2px dashed #3D318A;
    border-radius: 5px;
    padding: 40px;
    max-width: 100%;
    text-align: center;
    position: relative;
}



.social-share-file {
    max-width: 600px;
    margin: 20px auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.feature-point-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */
    color: #3B3561;
    margin-bottom: 30px;
}

.feature-point-description {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    color: #5C5486;
}

.feature-img {
    width: 100%;
}

.feature-img img {
    width: 80%;
}


.buy-premium-bg {
    position: relative;
    background-color: #3D318A;
    padding: 50px 0;
}


.buy-premium .title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    /* identical to box height, or 72px */
    color: #FFFFFF;
}

.buy-premium .point {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    color: #FFFFFF;
    margin: 20px 0;
}

.buy-premium .point::before {
    content: url(../public/assets/main/double-tick\ 1.svg);
    margin-right: 15px;
}

.buy-premium-btn {
    background-color: #DCB4F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    border: 0;
    width: 250px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}


.FAQ-bg {
    background: linear-gradient(70deg, var(--blue), var(--pink) 90.71%);
    padding: 50px 0;
}

.FAQ .title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;

    margin: 40px 0;
    color: #3B3561;
}


@media screen and (max-width:992px) {
    .header .title .text-blue {
        font-size: 36px;
    }

    .header .title .text-magenta {
        font-size: 50px;
    }
}